<!-- Top Nav CSS -->
<link rel="stylesheet" href="../content/portfolio/app/home/top-nav/top-nav.min.css" />

<!-- Top Nav-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">
    
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="../content/portfolio/img/nav_logo.png" ng-click="toTheTop()" />
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="#work" du-smooth-scroll du-scrollspy offset="120" ng-click="appInsights('Navigation.Work')">Work</a></li>
                <li><a href="#capabilties" du-smooth-scroll du-scrollspy offset="130" ng-click="appInsights('Navigation.Capabilities')">Capabilities</a></li>
                <li><a href="#about" du-smooth-scroll du-scrollspy offset="88" ng-click="appInsights('Navigation.About')">About</a></li>
                <li><a href="#contact" du-smooth-scroll du-scrollspy offset="-220" ng-click="appInsights('Navigation.Contact')">Contact</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

</nav><!--/Top Nav-->