@{
    ViewBag.Title = "Portfolio";
}

<!-- Bootstrap CSS - Local copy for development. Comment out or remove and use CDN for production -->
<link href="~/Content/portfolio/vendor/bootstrap/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" />

<!-- Vendor CSS -->
<link href="~/Content/portfolio/vendor/animatecss/animate.css" rel="stylesheet" />

<!-- App CSS -->
<link href="~/Content/portfolio/app/css/main.css" rel="stylesheet" />




<!-- Routes inserted here -->
<div ng-view></div>

<!-- Angular JS TODO: switch to CDNs -->
<script src="~/Content/portfolio/vendor/angular/angular-1.3.0/angular.min.js"></script>
<script src="~/Content/portfolio/vendor/angular/angular-1.3.0/angular-route.min.js"></script>
<script src="~/Content/portfolio/vendor/angular/angular-1.3.0/angular-touch.min.js"></script>

<!-- Vendor JS -->
<script src="~/Content/portfolio/vendor/jQuery/jquery-1.11.1.min.js"></script>
<script src="~/Content/portfolio/vendor/angular-applicationinsights/angular-applicationinsights.js"></script>
<script src="~/Content/portfolio/vendor/bootstrap/bootstrap-3.2.0/js/bootstrap.min.js"></script>
<script src="~/Content/portfolio/vendor/angular-ui/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="~/Content/portfolio/vendor/angular-scroll/angular-scroll.min.js"></script>

<!-- App JS -->
<script src="~/Content/portfolio/app/app.js"></script>

<script src="~/Content/portfolio/app/home/home.js"></script>
<script src="~/Content/portfolio/app/home/work/modal/modal.js"></script>
<script src="~/Content/portfolio/app/home/hero/hero.js"></script>
<script src="~/Content/portfolio/app/home/work/work.js"></script>